@font-face {
    font-family: 'Montserrat-ExtraLight';
    src: url('../fonts/Montserrat-ExtraLight.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../fonts/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-ExtraBold';
    src: url('../fonts/Montserrat-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Lato-Regular';
    src: url('../fonts/Lato-Regular.ttf') format('truetype');
}

body {
  background-color: #FFFFFF;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Lato-Regular', sans-serif; font-size: 18px;
}

a {
  color: #31708E;
  text-decoration: none;
}

.holding_box {
  max-width: 960px;
  margin: auto;
}

.topnav {
  font-family: 'Montserrat-ExtraBold', sans-serif;
}

.topnav a:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

.topnav nav ul {
  display: flex;
  list-style: none;
  padding-left: 0px;
}

.topnav nav ul li {
  padding-right: 30px;
}

.content {
  padding-top: 10px;
  padding-bottom: 20px;
}

.content a:hover {
  text-decoration: underline;
}

.content h1, h2, h3 {
  color: #687864;
  font-family: 'Montserrat-Bold', sans-serif;
}

.footer {
  color: #687864;
  font-family: 'Montserrat-ExtraLight', sans-serif; font-size: 14px;
}
