@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
}

body {
  background-color: #F7F9FB;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Montserrat', serif; font-size: 18px; font-weight: 400;
  font-display: block;
}

h1, h2, h3 {
  color: #687864;
  font-weight: 600;
}

a {
  color: #31708E;
  text-decoration: none;
}

.holding_box {
  max-width: 960px;
  margin: auto;
}

.topnav {
  font-weight: 600;
}

.topnav a:hover {
  text-decoration: underline 2px;
}

.topnav nav ul {
  display: flex;
  list-style: none;
  padding-left: 0px;
}

.topnav nav ul li {
  padding-right: 30px;
}

.content {
  padding-top: 10px;
  padding-bottom: 20px;
}

.footer {
  color: #687864;
  font-size: 14px; font-weight: 300;
}
