<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ base_path }}/assets/css/main.css">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-HSXEJMEBXS"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-HSXEJMEBXS');
  </script>
</head>

<body>

<div class="topnav">
  <nav>
    <ul>
      {% for item in site.data.menu %}
        <li><a href="{{ item.link }}">{{ item.title }}</a></li>
      {% endfor %}
    </ul>
  </nav>
</div>

<div class="content">
  {{ content }}
</div>

<div class="footer">
  &copy 2022 Rui Leite.
</div>

</body>
</html>
